- unless current_user.id == post.user.id
  - if post.good?(current_user)
    .good-button 'Good_Delete'
  - else
    = form_for(post.goods.build, remote: true) do |f|
      = f.hidden_field :post_id, post.id
      = f.button 'Good'