.menu-bar
  %ul.menu-bar__list
    %li
      = link_to do
        .menu-bar__list__content
          ホーム
    %li
      = link_to do
        .menu-bar__list__content
          検索
    %li
      = link_to do
        .menu-bar__list__content
          設定
    %li
      = link_to do
        .menu-bar__list__content
          DM