.edit_user{
  width: 100%;
  display: flex;
}

.account-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #0f0e0e;
  &-edit{
    height: 90vh;
    width: 100vw;
  }
  &__introduct{
    width: 50%;
    border-right: double white;
    &__title{
      color: #fafafa;
      margin-top: 30px;
      text-align: center;
      font-size: 70px;
      text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #00eaff,
      0 0 70px #00eaff,
      0 0 80px #00efff,
      0 0 100px #00efff,
      0 0 150px #00efff,
      0 0 200px #00ffff,
    }
    &__sentence{
    }
  }
  &__info{
    width: 50%;
    color: #eeeeee;
    &-edit{
      margin-top: 100px;;
    }
    &__header{
      text-align: center;
      margin: 80px 0 50px;
      font-size: 24px;
    }
    &__user-form{
      .field{
        text-align: center;
        margin-bottom: 40px;
        &-label{
          margin-bottom: 5px;
        }
      }
    }
  }
}
.create-action-btn{
  display       : inline-block;
  border-radius : 11%;
  font-size     : 20pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 27px;
  background    : rgba(26, 26, 255, 0.92);
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid rgba(26, 26, 255, 0.92);
}
.create-action-btn:hover {
  color         : rgba(26, 26, 255, 0.92);
  background    : #ffffff;
}


.link{
  align-items: center;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: #090909;
}

a.move-btn {
  line-height: 20px;
	display: block;
  position: relative;
  height: 40px;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #090909;
	border:1px solid aqua;
	background: aqua;
	overflow: hidden;
	z-index: 1 !important;
}
a.move-btn:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #090909;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.move-btn:hover {
	color: aqua;
}
.move-btn:hover:after {
	height: 250%;
	opacity: 1;
}
.move-btn:active:after {
	height: 350%;
	opacity: 1;
}

.icon_box{
  height: 100px;
  width: 100px;
  position: absolute;
  color: rgba(255,0,0,0);
}

#user_image{
  height: 100px;
  width: 100px;
  display: none;
}

.files-edit{
  height: 100px;
  width: 100px;
  margin: 0 auto 10px;
  position: relative;
}