.header
  = link_to do
    .header__title
      FotoShock
    -# = link_to do
    -#   .header__login
    -#     会員登録
.wrapper
  = render "shared/menu-bar"
  = render "shared/posts"
  .right-bar
    .ranking
      .ranking__topic
        .ranker
          .ranker__rank
            rank
          = render "shared/usericon"