
.menu-bar{
  height: 100%;
}

.menu-bar__list {
	font-size: 0;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0.4em 0;
	text-align: center;
	color: white;
	background: #37474f;
}
.menu-bar__list li {
	line-height: 100%;
	// position: relative;
	display: inline-block;
	list-style: none;
	-webkit-transform: translateZ(0);
					transform: translateZ(0);
	vertical-align: middle;
	pointer-events: none;
}
.menu-bar__list a {
	font-size: 16px;
	line-height: 100%;
	position: relative;
	display: block;
	min-width: 5em;
	margin-bottom: 0.4em;
	padding: 0.4em;
	-webkit-transition: background 0.3s;
					transition: background 0.3s;
	text-decoration: none;
	pointer-events: auto;
	color: #ffffff;
}
.menu-bar__list a:active,
.menu-bar__list a:focus {
	background: #0097a7;
}
.menu-bar__list i {
	font-size: 2em;
	display: block;
	margin-bottom: 0.2em;
}
.menu-bar__list span {
	font-size: 0.625em;
}
.menu-bar__list li:hover ul {
	-webkit-transform: translateX(0);
					transform: translateX(0);
	background: #0097a7;
}
.menu-bar__list > li {
	display: block;
}
.menu-bar__list > li > a {
	background: #37474f;
}
.menu-bar__list > li:hover {
	z-index: 100;
}
.menu-bar__list > li:hover a {
	background: #0097a7;
}
.menu-bar__list > li a:hover {
	background: #00acc1;
}
.menu-bar__list > li:hover a:after {
	opacity: 1;
}
.menu-bar__list > li ul {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 100%;
	width: auto;
	height: 100%;
	-webkit-transition: 0.5s -webkit-transform;
					transition: 0.5s -webkit-transform;
					transition: 0.5s transform;
					transition: 0.5s transform, 0.5s -webkit-transform;
	-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
	white-space: nowrap;
	background: #0097a7;
	padding: 0;
}