* {
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.header{
  width: 100vw;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #0f0e0e;
  &__title{
    font-size: 30px;
    color: #fafafa;
    text-align: center;
    height: 100%;
    line-height: 100px;
    width: 90vw;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #00eaff,
    0 0 70px #00eaff,
    0 0 80px #00efff,
    0 0 100px #00efff,
    0 0 150px #00efff,
    0 0 200px #00ffff,
  }
  &__login{
    margin-top: 40px;
    border: double darkgray;
    color: darkgray;
    font-size: 20px;
  }
}

.wrapper{
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  background-color: #101010;
}

.main-posts{
  // width: 100vw;
  width: 900px;
  padding: 20px 20px 0;
  overflow: scroll;
  .post{
    background-color: rgb(14, 14, 14);
    width:800px;
    margin-bottom: 20px;
    &__title{
      // background-color: beige;
      height: 30px;
      font-size: 25px;
      color: #dddddd;
      line-height: 30px;
      text-align: center;
    }
    &__image{
      border: solid rgb(7, 7, 7);
      background-color: rgb(7, 7, 7);
      width: 800px;
      height: auto;
      text-align: center;
    }
    &__info{
      display: flex;
      // justify-content: ;
      margin: 3px 20px;

      &__user-box{
        width: 100%;
        display: flex;
        &__icon{
          height: 50px;
          width: 50px;
        }
        &__name{
          line-height: 50px;
          margin: 0 30px;
          font-size: 20px;
          color: #dddddd;
        }
      }
      &__day{
        color: #dddddd;
        line-height: 50px;
      }
    }
    &__details{
      &__tag{

      }
      &__adress{
        display: flex;
        margin: 0 80px;
        &__pref-city{
          color: #dddddd;
          margin-right: 30px;
        }
      }
    }
    &__action{
      display: flex;
      &__good-btn{
        margin-top: 3px;
        margin-left: 30px;
      }
      &__comment{
      }
      .good-number{
        margin: auto 10px;
        color: #ff8800;
      }
    }
  }
}

.right-bar{
  // width: 100%;

}
.ranking{
  // padding: 20px 20px 0;
  &__topic{
    .ranker{
      &__rank{

      }
    }
  }
}

.user-box{
  display: flex;
  &__image{
    margin-right: 5px;
  }
  &__name{

  }
}


.good-btn {
	display: block;
	text-align: center;
	text-decoration: none;
  color: #00ffff;
  font-size: 10px;
	width: 90px;
	height: 60px;
	line-height: 60px;
	border: double 4px #00ffff;
	border-radius: 50%;
	vertical-align: middle;
	overflow: hidden;
  transition: .6s;
  background-color: rgb(7, 7, 7);
  cursor: pointer;
}
#good-btn-delete{
  color: #ff8800;
  border: double 4px #ff8800;
}
.good-btn:hover {
	transform: rotateY(360deg);
}
.sinup-mov{
  margin: 130px 0;
}
#sign-up{
  margin: 0 auto;
}

.new_post{
  width: 50%;
  height: 100vh;
}

.post-form{
  text-align: center;
  padding-top: 80px;
  color: #fafafa;
}
.post-field{
  margin-bottom: 20px;
  &-label{
    font-size: 24px;
    color: #dddddd;
  }
  &-image{
    height: 300px;
    width: 300px;
    margin: 0 auto 10px;
    position: relative;
  }
}

.image-box{
  height: 300px;
  width: 300px;
  position: absolute;
  color: rgba(255,0,0,0);
  left: 0;
}

#post_image{
  height: 300px;
  width: 300px;
  display: none;
}
.cp_button03 {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 160px;
	padding: 1em;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;
	transition: color 0.4s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #52c11f;
	border: 1px solid #52c11f;
	border-radius: 0;
	background: transparent;
}
.cp_button03:hover {
	color: #00eaff;
	border: 1px solid #52c11f;
}
.cp_button03:before, .cp_button03:after {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
}
.cp_button03:before {
	transition: transform cubic-bezier(1, 0, 0, 1) 0.4s;
	-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	transform-origin: top center;
	background-color: #52c11f;
}
.cp_button03:after {
	top: -6px;
	left: -6px;
	transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
	border: 1px solid #52c11f;
}

.cp_button03:hover:before {
	-webkit-transform: scaleY(1);
	        transform: scaleY(1);
	border: 1px solid #52c11f;
}
.cp_button03:hover:after {
	-webkit-transform: translate(6px, 6px);
	        transform: translate(6px, 6px);
	border: 1px solid #52c11f;
}
.cp_button03:active {
	transition-duration: 0.05s;
	-webkit-transform: translate(6px, 6px);
	        transform: translate(6px, 6px);
}
.cp_button03:active:after {
	transition-duration: 0.05s;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
}
.cp_button03:focus {
	color: #52c11f;
	border: 1px solid #52c11f;
}
.cp_button03:focus:hover {
	color: #00eaff;
}
.cp_button03:focus:before {
	background-color: #52c11f;
}