.modaal-content-container{
  .comment-text{
    background-color: #e0e0e0;
    width: 90%;
    padding: 0 10px;
  }
  .comment-btn{
    background-color: #00ddff;
    height: 30px;
    width: 60px;
    border: #222222 solid 1px;
  }
}